In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data_for_preprocessing - data_for_preprocessing.csv to data_for_preprocessing - data_for_preprocessing.csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset = pd.read_csv('data_for_preprocessing - data_for_preprocessing.csv')

**Dropping Rows**

In [ ]:
dataset

   Branch  CGPA  Salary Placed   Age
0     CSE   9.5    30.0    Yes  21.0
1     ECE   9.0    25.0    Yes   NaN
2    Mech   8.7    20.0    Yes   NaN
3   Civil   8.5    15.0    Yes   NaN
4     CSE   9.0    28.0    Yes  19.0
5     ECE   8.5    10.0    Yes   NaN
6    Mech   NaN     7.0    Yes   NaN
7   Civil   7.5     NaN     No   NaN
8     CSE   8.5    15.0    NaN   NaN
9     ECE   8.0     NaN    Yes  16.0
10   Mech   NaN     NaN    Yes   NaN
11  Civil   6.8     1.0     No   NaN
12   Aero   NaN     NaN    NaN   NaN

In [ ]:
dataset.isnull().sum()

Branch     0
CGPA       3
Salary     4
Placed     2
Age       10
dtype: int64

In [ ]:
dataset.dropna(axis=0)

  Branch  CGPA  Salary Placed   Age
0    CSE   9.5    30.0    Yes  21.0
4    CSE   9.0    28.0    Yes  19.0

In [ ]:
dataset.dropna(thresh = 3, axis=0)

   Branch  CGPA  Salary Placed   Age
0     CSE   9.5    30.0    Yes  21.0
1     ECE   9.0    25.0    Yes   NaN
2    Mech   8.7    20.0    Yes   NaN
3   Civil   8.5    15.0    Yes   NaN
4     CSE   9.0    28.0    Yes  19.0
5     ECE   8.5    10.0    Yes   NaN
6    Mech   NaN     7.0    Yes   NaN
7   Civil   7.5     NaN     No   NaN
8     CSE   8.5    15.0    NaN   NaN
9     ECE   8.0     NaN    Yes  16.0
11  Civil   6.8     1.0     No   NaN

In [ ]:
dataset.dropna(thresh=3, axis = 0, inplace=True)

In [ ]:
dataset

   Branch  CGPA  Salary Placed   Age
0     CSE   9.5    30.0    Yes  21.0
1     ECE   9.0    25.0    Yes   NaN
2    Mech   8.7    20.0    Yes   NaN
3   Civil   8.5    15.0    Yes   NaN
4     CSE   9.0    28.0    Yes  19.0
5     ECE   8.5    10.0    Yes   NaN
6    Mech   NaN     7.0    Yes   NaN
7   Civil   7.5     NaN     No   NaN
8     CSE   8.5    15.0    NaN   NaN
9     ECE   8.0     NaN    Yes  16.0
11  Civil   6.8     1.0     No   NaN

Column Dropping

In [ ]:
dataset

   Branch  CGPA  Salary Placed   Age
0     CSE   9.5    30.0    Yes  21.0
1     ECE   9.0    25.0    Yes   NaN
2    Mech   8.7    20.0    Yes   NaN
3   Civil   8.5    15.0    Yes   NaN
4     CSE   9.0    28.0    Yes  19.0
5     ECE   8.5    10.0    Yes   NaN
6    Mech   NaN     7.0    Yes   NaN
7   Civil   7.5     NaN     No   NaN
8     CSE   8.5    15.0    NaN   NaN
9     ECE   8.0     NaN    Yes  16.0
11  Civil   6.8     1.0     No   NaN

In [ ]:
dataset.dropna(axis=1)

   Branch
0     CSE
1     ECE
2    Mech
3   Civil
4     CSE
5     ECE
6    Mech
7   Civil
8     CSE
9     ECE
11  Civil

In [ ]:
dataset.dropna(thresh =9,axis=1,inplace= True)

In [ ]:
dataset

   Branch  CGPA  Salary Placed
0     CSE   9.5    30.0    Yes
1     ECE   9.0    25.0    Yes
2    Mech   8.7    20.0    Yes
3   Civil   8.5    15.0    Yes
4     CSE   9.0    28.0    Yes
5     ECE   8.5    10.0    Yes
6    Mech   NaN     7.0    Yes
7   Civil   7.5     NaN     No
8     CSE   8.5    15.0    NaN
9     ECE   8.0     NaN    Yes
11  Civil   6.8     1.0     No

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')

In [ ]:
imputer

SimpleImputer()

In [ ]:
X=dataset[['Branch','CGPA','Salary']]

In [ ]:
X

   Branch  CGPA  Salary
0     CSE   9.5    30.0
1     ECE   9.0    25.0
2    Mech   8.7    20.0
3   Civil   8.5    15.0
4     CSE   9.0    28.0
5     ECE   8.5    10.0
6    Mech   NaN     7.0
7   Civil   7.5     NaN
8     CSE   8.5    15.0
9     ECE   8.0     NaN
11  Civil   6.8     1.0

In [ ]:
X=dataset[['Branch','CGPA','Salary']].values
X[:,:]

array([['CSE', 9.5, 30.0],
       ['ECE', 9.0, 25.0],
       ['Mech', 8.7, 20.0],
       ['Civil', 8.5, 15.0],
       ['CSE', 9.0, 28.0],
       ['ECE', 8.5, 10.0],
       ['Mech', nan, 7.0],
       ['Civil', 7.5, nan],
       ['CSE', 8.5, 15.0],
       ['ECE', 8.0, nan],
       ['Civil', 6.8, 1.0]], dtype=object)

In [ ]:
X[:,1:3]

array([[9.5, 30.0],
       [9.0, 25.0],
       [8.7, 20.0],
       [8.5, 15.0],
       [9.0, 28.0],
       [8.5, 10.0],
       [nan, 7.0],
       [7.5, nan],
       [8.5, 15.0],
       [8.0, nan],
       [6.8, 1.0]], dtype=object)

In [ ]:
imputer = imputer.fit(X[:,1:3])
X

array([['CSE', 9.5, 30.0],
       ['ECE', 9.0, 25.0],
       ['Mech', 8.7, 20.0],
       ['Civil', 8.5, 15.0],
       ['CSE', 9.0, 28.0],
       ['ECE', 8.5, 10.0],
       ['Mech', nan, 7.0],
       ['Civil', 7.5, nan],
       ['CSE', 8.5, 15.0],
       ['ECE', 8.0, nan],
       ['Civil', 6.8, 1.0]], dtype=object)

In [ ]:
X[:,1:3]=imputer.transform(X[:,1:3])
X

array([['CSE', 9.5, 30.0],
       ['ECE', 9.0, 25.0],
       ['Mech', 8.7, 20.0],
       ['Civil', 8.5, 15.0],
       ['CSE', 9.0, 28.0],
       ['ECE', 8.5, 10.0],
       ['Mech', 8.4, 7.0],
       ['Civil', 7.5, 16.77777777777778],
       ['CSE', 8.5, 15.0],
       ['ECE', 8.0, 16.77777777777778],
       ['Civil', 6.8, 1.0]], dtype=object)

**Filling the Categorical Missing Values - for null also it assigns a category**

In [ ]:
y=dataset['Placed'].tolist()
print(type(y))
print(y)

<class 'list'>
['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', nan, 'Yes', 'No']

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encode=LabelEncoder()
le = LabelEncoder()
y=le.fit_transform(y)

print(y)

[1 1 1 1 1 1 1 0 2 1 0]

Filling the Categorical Missing Values with Mode

In [ ]:
y=dataset['Placed']
y.mode()

0    Yes
dtype: object

In [ ]:
y=y.fillna(y.mode().iloc[0])
y

0     Yes
1     Yes
2     Yes
3     Yes
4     Yes
5     Yes
6     Yes
7      No
8     Yes
9     Yes
11     No
Name: Placed, dtype: object

Encoding categorical data

In [ ]:
print(y)

0     Yes
1     Yes
2     Yes
3     Yes
4     Yes
5     Yes
6     Yes
7      No
8     Yes
9     Yes
11     No
Name: Placed, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encode=LabelEncoder()
le = LabelEncoder()
y=le.fit_transform(y)

print(y)

[1 1 1 1 1 1 1 0 1 1 0]

**Label Encoding with OneHotEncoder**

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
onehotencoder = OneHotEncoder()

In [ ]:
type(X[0])

numpy.ndarray

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')

In [ ]:
X = np.array(ct.fit_transform(X))
X

array([[1.0, 0.0, 0.0, 0.0, 9.5, 30.0],
       [0.0, 0.0, 1.0, 0.0, 9.0, 25.0],
       [0.0, 0.0, 0.0, 1.0, 8.7, 20.0],
       [0.0, 1.0, 0.0, 0.0, 8.5, 15.0],
       [1.0, 0.0, 0.0, 0.0, 9.0, 28.0],
       [0.0, 0.0, 1.0, 0.0, 8.5, 10.0],
       [0.0, 0.0, 0.0, 1.0, 8.4, 7.0],
       [0.0, 1.0, 0.0, 0.0, 7.5, 16.77777777777778],
       [1.0, 0.0, 0.0, 0.0, 8.5, 15.0],
       [0.0, 0.0, 1.0, 0.0, 8.0, 16.77777777777778],
       [0.0, 1.0, 0.0, 0.0, 6.8, 1.0]], dtype=object)

In [ ]:
#Unique Values in Branch = no of bits used